<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ViperTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18F1CD5C1DAFD31500E0C007</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18F1CD701DAFD31600E0C007</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18F1CD7B1DAFD31600E0C007</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
